body {
  background-color: white;
}

.container {
  display: flex;
  min-height: 100%;
  min-width: 100%;
  position: relative;
  height: auto;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}
