html{
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}
html::-webkit-scrollbar {
    width: 0;
    height: 0;
}

#table-div {
    background-color:#282d32;
}

#table_wrapper {
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
}

th, td {
    white-space: nowrap;
}

label {
    color: white;
}

.nopadding, .dataTable {
    padding: 0 !important;
    margin: 0 !important;
}
