html{
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}
html::-webkit-scrollbar {
    width: 0;
    height: 0;
}

#table-div {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    display: flex;
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
 }

.header-fixed { 
    overflow: auto; 
}
.header-fixed thead th { 
    position: sticky; 
    top: 0; 
    z-index: 1; 
}